* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
#navbar {
    display: flex;
    flex-direction: row;
    background-color: teal;
}

.nav-links {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 60px;
    color: white;
    font-size: 1.2em;
}

.nav-links:hover {
    background-color: rgb(18, 69, 103);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

#navbarR, #nav_menuR {
    display: none;
}
/* -- END -- */

/* main */
main {
    margin: 5%;
    font-size: large;
}
/* -- END -- */

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(12, 118, 142);
    padding: 4% 7% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Enfant 1 */
#enfant1 p, #enfant1 a {
    font-style: italic;
}

#liens_ig {
    padding: 9% 0 0 6%;
}

#liens_ig div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#liens_ig img {
    height: 29px;
    width: 29px;
    padding: 10px;
}

#liens_ig a {
    text-decoration: none;
    color: black;
}
/* -- END -- */

/* Enfant 2 */
#enfant2 {
    width: 300px;
}

#formulaire {
    border: none;
}

#formulaire div {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

#formulaire label {
    padding-bottom: 3px;
}

#formulaire input, #formulaire textarea {
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}
/* -- END -- */

#envoyer {
    width: 25%;
    cursor: pointer;
}

#envoyer:hover {
    border: solid grey 1px;
}
/* -- END -- */

/* Responsive */
@media screen and (max-width: 710px) {
    header, #bouton1, #bouton2, #options label,  footer {
        font-size: 0.9em;
    }

    /* Navbar */
    #navbar {
        display: none;
    }
    
    /* Navbar responsive */
    #navbarR {
        display: block;
        text-align: center;
        margin-top: 0;
    }

    #navbarR button {
        height: 60px;
        width: 100%;
        background-color: teal;
        border: none;
        color: white;
        font-size: 1.5em;
    }

    #nav_menuR {
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: teal;
    }

    #nav_menuR a {
        height: 100%;
    }

    #nav_menuR a:not(#dernier) {
        border-bottom: solid rgba(174, 236, 255, 0.5) 2px;
    }
    /* -- END -- */

    /* Main */
    main {
        margin: 10%;
        font-size: medium;
    }
    /* -- END -- */

    /* Footer */
    footer {
        flex-direction: column;
        align-items: center;
    }

    #liens_ig img {
        height: 20px;
        width: 20px;
        padding: 8px;
    }

    #enfant1 {
        margin-bottom: 5%;
    }
    /* -- END -- */
}